fastapi>=0.111.0
uvicorn[standard]>=0.30.1
sqlalchemy>=2.0.31
pydantic>=2.7.4
pydantic-settings>=2.3.4
pg8000>=1.31.2
python-dotenv>=1.0.1
langgraph>=0.2.20
langchain>=0.2.14
langchain-core>=0.2.32
langchain-groq>=0.1.9
python-multipart>=0.0.9